.navbar {
  display: flex;
  justify-content: left;
  width: 100vw;
  background-color: rgb(85, 77, 158);
  padding-left: 2rem;
}
.nav {
  display: flex;
  width: 70%;
  height: 5rem;
  color: white;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}


input {
  height: 2rem;
  width: 30%;
  background-color: transparent;
  border-bottom: 2px solid white ;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding-left: 1rem;
}

.user {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.err {
  text-align: center;
}